/* Styles globaux */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Signika Negative', sans-serif;
}

/* Import des polices */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

/* Composants */
.hero {
    background-image: url('../img/blurry.png');
    background-size: cover;
    background-position: center;
}

/* marge verticale */
.move-down {
    margin-top: 150px; /* Ajustez la valeur selon vos besoins */
}

/* image de droite du héro */
.hero-image img.hero-img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

/* Couleur des liens au survol de la navbar */
.navbar-dark .navbar-nav .nav-link:hover {
    color: #007bff;
    transition: color 0.3s ease;
}

.logo-img {
    max-width: 100px; /* Ajustez cette valeur en fonction de la taille souhaitée */
    height: auto; /* Permet de conserver les proportions */
}

/* Animation zoom in/out du logo */
@keyframes zoomInOut {
    0% {
        transform: scale(1); /* Taille normale */
    }
    50% {
        transform: scale(1.2); /* Zoom in à 120% */
    }
    100% {
        transform: scale(1); /* Retour à la taille normale */
    }
}

.zoom-in-out {
    animation: zoomInOut 5s ease-in-out infinite; /* Animation de zoom in/out du logo */
}

/* cartes avantages*/
.card-img-custom {
    height: 350px;
    object-fit: cover;
}

.card-img-custom.avantage-img {
    height: 15rem;
    object-fit: cover;
}

.card {
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* ligne séparatrice verticale */
.vertical-line {
    width: 2px;
    background-color: white;
}

/* bouton d'appel to action */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    font-weight: bold;
    padding: 14px 28px;
    font-size: 18px;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* discord carte */
.card-discord {
    background-image: url('../img/blurry.png');
    background-size: cover;
    background-position: center;
}

/* Utilitaires */
.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ajout d'une ombre aux textes */
}

.icon-primary {
    color: #007bff;
}

.icon-warning {
    color: #ffc107;
}

.icon-success {
    color: #28a745;
}

.icon-large {
    font-size: 1rem;
}

/* Media queries */
@media (max-width: 576px) {
    #custom-container {
        padding: 1rem;
        margin-left: 0; /* Réglage pour les écrans plus petits */
    }

    .hero {
        padding: 2rem 1rem;
    }

    .hero .col-md-6 {
        margin-bottom: 1rem;
    }

    .hero .display-3, .hero .display-5 {
        font-size: 1.5rem;
    }

    .hero .btn {
        width: 100%;
        margin-bottom: 1rem;
    }
}

/* texte en noir */
.modal-text-black {
    color: #000; /* Texte noir pour les modals */
}

/* Animation fade-in pour les paragraphes */
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
